<%= simple_nested_form_for([@shop, @menu]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render 'shops_shared/is_active', obj: @menu, f: f %>
    <%= render 'descriptions/section', f: f, klasses: "menus", klass_instance: @menu %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
