<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
  <%= @menu.shop %>
</p>

<p>
  <b>Is active:</b>
  <%= @menu.is_active %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
