<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="well">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                                :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, :autofocus => true %>
      <%= f.input :default_locale_id, as: :select, collection: Locale.all.map { |l| [l.language, l.id]}, required: false %>
      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <div id="password-confirmation">
        <%= f.input :password_confirmation, :required => false %>
      </div>
      <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-info" %>
    </div>
  <% end %>
</div>
