<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <% carousel_class = "active item" %>
      <% shops.each do |featured_vendor| %>
        <div class="<%= carousel_class %>" id="<%= "featuredvendor-#{featured_vendor.id}" %>">
          <%= image_tag featured_vendor.banner_url %>
          <div class="carousel-caption">
            <h4><%= featured_vendor.name %></h4>
            <p><%= featured_vendor.description %></p>
          </div>
        </div>
        <% carousel_class = "item" %>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
