<%= content_tag "div", class: stuck_class(stuck),
                        id: "shop_sideview-#{shop.id}" do %>

  <div class="pager side-shop-title">
  <div class="lead side-shop-title"> <%= shop.name %></div>
<%= shop_thumbnail(shop) %>


        <% if shop.is_hotel? %>
        <h5><%= "#{t("shops.show_sideview.hotel.title")}:" %></h5>
        <%= "#{t("shops.show_sideview.hotel.checkin_at")}: #{shop.checkin_at.strftime("%H:%M")}" %><br/>
        <%= "#{t("shops.show_sideview.hotel.checkout_at")}: #{shop.checkout_at.strftime("%H:%M")}" %><br/>
      <% end %>

      <% if shop.is_restaurant? %>
        <h5><%= "#{t("shops.show_sideview.restaurant.title")}:" %></h5>
        <%= delivery_fee(shop) %><br/>
        <%= shop_time(shop) %><br/>
      <% end %>

  <% if has_option_to_preview_shop?(shop) %>
    <%= render 'shops_shared/button_to_shop', shop: shop %>
  <% end %>
  <br/>
  </div>
<% end %>
