<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @shop.user %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @shop.thumbnail %>
</p>

<p>
  <b>Banner:</b>
  <%= @shop.banner %>
</p>

<p>
  <b>Currency:</b>
  <%= @shop.currency %>
</p>

<p>
  <b>Delivery minimum:</b>
  <%= @shop.delivery_minimum %>
</p>

<p>
  <b>Delivery fee:</b>
  <%= @shop.delivery_fee %>
</p>

<p>
  <b>Opens sunday at:</b>
  <%= @shop.opens_sunday_at %>
</p>

<p>
  <b>Closes sunday at:</b>
  <%= @shop.closes_sunday_at %>
</p>

<p>
  <b>Checkin at:</b>
  <%= @shop.checkin_at %>
</p>

<p>
  <b>Checkout at:</b>
  <%= @shop.checkout_at %>
</p>

<p>
  <b>Is active:</b>
  <%= @shop.is_active %>
</p>

<p>
  <b>Opens monday at:</b>
  <%= @shop.opens_monday_at %>
</p>

<p>
  <b>Closes monday at:</b>
  <%= @shop.closes_monday_at %>
</p>

<p>
  <b>Opens tuesday at:</b>
  <%= @shop.opens_tuesday_at %>
</p>

<p>
  <b>Closes tuesday at:</b>
  <%= @shop.closes_tuesday_at %>
</p>

<p>
  <b>Opens wednesday at:</b>
  <%= @shop.opens_wednesday_at %>
</p>

<p>
  <b>Closes wednesday at:</b>
  <%= @shop.closes_wednesday_at %>
</p>

<p>
  <b>Opens thursday at:</b>
  <%= @shop.opens_thursday_at %>
</p>

<p>
  <b>Closes thursday at:</b>
  <%= @shop.closes_thursday_at %>
</p>

<p>
  <b>Opens friday at:</b>
  <%= @shop.opens_friday_at %>
</p>

<p>
  <b>Closes friday at:</b>
  <%= @shop.closes_friday_at %>
</p>

<p>
  <b>Opens saturday at:</b>
  <%= @shop.opens_saturday_at %>
</p>

<p>
  <b>Closes saturday at:</b>
  <%= @shop.closes_saturday_at %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
