<% if can?(:update, Shop) %>
  <%= link_to url_for(toggle_as_user), class: "btn btn-mini btn-info" do %>
    <%= content_tag :i, '', :class => 'icon-search' %> <%= t("shops.show.switch_perspective") %>
  <% end -%>
  <%= render "layouts/admin_language" %>
<% end %>

<div class="pager">
  <h1><%= @shop.name %></h1>
  <h5>
    <%= @shop.contact.street %>, <%= "#{@shop.contact.room}," if @shop.contact.room.present? %>
    <%= @shop.contact.city %>
  </h5>
  <h5><%= "#{t("shops.show.information.telephone")}: #{@shop.contact.phones}" %></h5>
  <% if can_and_want_see_everything? %>
    <%= link_to t("shops.show.edit"), edit_shop_path(@shop), class: "btn btn-link" %> or
    <%= link_to t("shops.show.menus.new"), new_shop_menu_path(@shop), class: "btn btn-link" %>
    <br/><br/>
  <% end %>
  <div class="clearfix"></div>
  <%= image_tag "banner#{rand(5)+1}.jpg", class: "img-rounded" %>
</div>

<h4><%= t("shops.show.menus.title") %></h4>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <% activated = false %>
    <% menus.each do |menu| %>
      <li class="<%= append_word("", !activated, "active") %>">
        <%= link_to "#{menu.name} (#{menu.item_type.name})", "\#menu#{menu.id}", data: {toggle: "tab"} %>
        <% activated = true %>
      </li>
    <% end %>
    <% if can_and_want_see_everything? %>
      <li class="<%= append_word("", !activated, "active") %>">
        <%= link_to t("shops.show.options.title"), "\#options", data: {toggle: "tab"} %>
      </li>
      <% activated = true %>
    <% end %>
    <li class="<%= append_word("", !activated, "active") %>">
      <%= link_to t("shops.show.information.title"), "\#information", data: {toggle: "tab"} %>
    </li>
  </ul>
  <div class="tab-content">
    <% activated = false %>
    <% menus.each do |menu| %>
      <div class="<%= append_word("tab-pane", !activated, "active") %>" id="<%= "menu#{menu.id}" %>">
        <%= render "menus/show", menu: menu %>
        <% activated = true %>
      </div>
    <% end %>
    <% if can_and_want_see_everything? %>
      <div class="<%= append_word("tab-pane", !activated, "active") %>" id="options">
        <%= render "options/index", options: @shop.options %><div class="clearfix"></div><br/>
        <%= render "choices/index", choices: @shop.choices %>
      </div>
      <% activated = true %>
    <% end %>
    <div class="<%= append_word("tab-pane", !activated, "active") %>" id="information">
      <%= render "shops/info" %>
    </div>
  </div>
</div>
