<%= simple_nested_form_for([@shop, @choice]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render 'shops_shared/is_active', obj: @choice, f: f %>
    <%= f.input :price %>
    <%= render 'descriptions/section', f: f, klasses: "choices", klass_instance: @choice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
