    <h3><%= t("#{klasses}.form.descriptions.title") %></h3>
    <%= render "layouts/custom_errors", errors: klass_instance.errors[:descriptions] %>
    <%= f.simple_fields_for :descriptions do |description_form| %>
      <%= render "descriptions/form", f: description_form,
                                      title: t("#{klasses}.form.descriptions.title_each"),
                                      remove: t("#{klasses}.form.descriptions.remove_each"),
                                      skip_body: false %>
    <% end %>
    <p>
      <%= f.link_to_add t("#{klasses}.form.descriptions.add"), :descriptions, :class => 'btn btn-mini btn-info' %>
    </p>
