<p id="notice"><%= notice %></p>

<p>
  <b>Menu section:</b>
  <%= @item.menu_section %>
</p>

<p>
  <b>Is active:</b>
  <%= @item.is_active %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
