<div class="modal hide fade" id=<%="item-#{item.id}"%>>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add item to shopping cart</h3>
    <h4><%= "#{item.name} - #{shop_price(item)}" %></h4>
  </div>
  <%= simple_form_for([@cart, @line_item]) do |f| %>
    <div class="modal-body">
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.hidden_field :cart_id, { :value => @cart.id } %>
        <%= f.hidden_field :item_id, { :value => item.id } %>
        <%= render "option_selections/form", num_cols: 3, options: item.options, f: f %>

        <%= f.input :quantity, :input_html => { value: 1 } %>
        <%= f.input :special_instructions,
                    :input_html => { rows: 10, placeholder: "For example: \"no onions or peppers\"" } %>
      </div>
    </div>
    <div class="modal-footer form-actions">
      <%= f.button :submit, "Add to cart", class: "pull-left btn btn-info" %>
    </div>
  <% end %>
</div>
